<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>

<body style="margin: 0; padding: 0; background-color: #f7f7f7; font-family: Arial, sans-serif;">

    <div
        style="max-width: 640px; margin: 0 auto; padding: 24px; background-color: #ffffff; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0px 10px 20px rgba(236, 72, 153, 0.3);">
        <header style="width: 100%; border-spacing: 0; border-collapse: collapse;">
            <table style="width: 100%; border-spacing: 0;">
                <tr>
                    <td style="vertical-align: middle; text-align: left;">
                        <a href="https://meherunbeauty.abroadportals.com/" target="_blank">
                            <img src="https://i.ibb.co/JBBhRV4/logo.jpg" alt="Meherun Western Beauty Products"
                                style="width: 144px;">
                        </a>
                    </td>
                    <td style="vertical-align: middle; text-align: right;">
                        
                    </td>

                </tr>
            </table>
        </header>


        <main style="text-align: left;">
            <a href="https://meherunbeauty.abroadportals.com/new_arrivals_product/new_arrivals_product_details/{{product.id}}" target="_blank">
                <img src="{{product.image_url}}" alt="New Arrivals Products"
                    style="width: 60%; height: auto; margin-left: 20%; margin-right: 20%; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); margin-top: 16px; background-color: transparent;">
            </a>
            <a href="https://meherunbeauty.abroadportals.com/new_arrivals_product/new_arrivals_product_details/{{product.id}}" target="_blank" style="text-decoration: none; color: inherit;">
                <h2 style="font-size: 24px; color: #ec4899; margin-top: 24px;">
                    💄 Be the First to Try Our Latest Beauty Launches!
                </h2>
            </a>

            <div>
                <h2 style="font-size: 18px; color: #374151;">Dear Precious Customer,</h2>
                <p style="font-size: 16px; color: #6b7280;">We're excited to share our latest beauty arrivals with you!
                    Each product has been carefully curated to enhance your beauty routine and help you feel your best.
                </p>
                <p style="font-size: 16px; color: #6b7280;">Whether you're looking to refresh your look or add something
                    special to your collection, our new arrivals have something for everyone.</p>
                <p style="font-size: 16px; color: #6b7280;">We're here to assist you every step of the way, ensuring you
                    find exactly what you need to shine. If you have any questions or need recommendations, don't
                    hesitate to reach out – we're always here to help.</p>
            </div>

            <p style="font-size: 16px; color: #6b7280;">Best Wishes,<br>
                <span style="font-size: 20px; color: #ec4899;">Meherun's Team</span>
            </p>

            <div style="text-align: center;">
                <a href="https://meherunbeauty.abroadportals.com/new_arrivals_product/new_arrivals_product_details/{{product.id}}" target="_blank"
                    style="display: inline-block; padding: 12px 24px; background-color: #ec4899; color: #fff; text-decoration: none; border-radius: 8px; margin-top: 24px; font-size: 14px; text-align: center; transition: background-color 0.3s;">
                    View Product</a>
            </div>
        </main>

        <hr style="border: 1px solid #e5e7eb; margin: 24px 0;">

        <footer style="text-align: center; margin-top: 32px;">
            <h3 style="font-size: 18px; color: #374151;">Get In Touch With Us</h3>
            <p style="font-size: 16px; color: #6b7280; margin-top: 8px;">Get the most up to date Product Info.</p>

            <div style="margin-top: 16px;">
                <a href="#" style="margin: 0 10px; text-decoration:none;">
                    <img src="https://res.cloudinary.com/dohwf5pyi/image/upload/v1724049517/samples/Meherun/fbicon_dinof3.png"
                        alt="Facebook" style="width: 30px; height: 30px;">
                </a>
                <a href="#" style="margin: 0 10px; text-decoration:none;">
                    <img src="https://i.ibb.co/cJbSJ2K/twitter.png" alt="Twitter" style="width: 30px; height: 30px;">
                </a>
                <a href="#" style="margin: 0 10px; text-decoration:none;">
                    <img src="https://i.ibb.co/P60Jbqy/insta.png" alt="Instagram" style="width: 30px; height: 30px;">
                </a>
                <a href="#" style="margin: 0 10px; text-decoration:none;">
                    <img src="https://res.cloudinary.com/dohwf5pyi/image/upload/v1724049588/samples/Meherun/whatsappicon_ggbe0z.png"
                        alt="WhatsApp" style="width: 30px; height: 30px;">
                </a>
            </div>

            <p style="font-size: 14px; color: #6b7280; margin-top: 16px;">This email was sent to <a href="#"
                    style="color: #ec4899; text-decoration: none;">contact@meherun.com</a>. If you'd rather not receive
                this kind of email, you can <a href="#" style="color: #ec4899; text-decoration: none;">unsubscribe</a>.
            </p>

            <p style="font-size: 14px; color: #6b7280;">© 2024 Meherun Western Beauty. All Rights Reserved.</p>
        </footer>
    </div>

</body>

</html>