<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>

<body style="margin: 0; padding: 0; background-color: #f7f7f7; font-family: Arial, sans-serif;">
    <div
        style="border: 1px solid #ddd; border-radius: 6px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); max-width: 600px; margin: 0 auto; background-color: #fff;">
        <a href="#" style="display: block; text-align: center; padding: 20px;">
            <img src="https://i.ibb.co/JBBhRV4/logo.jpg" alt="Meherun Western Beauty Products"
                style="max-width: 150px;">
        </a>
        <div style="background-color: #ec4899; padding: 20px; text-align: center;">
            <h1 style="font-size: 24px; color: #fff; margin: 0;">Thanks For Signing Up!<br />Verify Your E-mail Address
            </h1>
        </div>
        <div style="padding: 20px;">
            <h2 style="font-size: 20px; margin: 0;">Hi, {{username}}</h2>
            <p style="font-size: 16px; color: #6b7280; margin-top: 16px; text-align: justify;">
                You're almost ready to get started. Please click on the button below to verify your email address and
                enjoy exclusive cleaning services with us!
            </p>
        </div>
        <div
            style="background-color: #ec4899; padding: 20px; max-width: 320px; margin: 20px auto; border-radius: 6px; text-align: center;">
            <span
                style="display: inline-block; border: 1px solid #fff; border-radius: 6px; color: #fff; font-size: 24px; padding: 10px 20px; margin: 5px;">2</span>
            <span
                style="display: inline-block; border: 1px solid #fff; border-radius: 6px; color: #fff; font-size: 24px; padding: 10px 20px; margin: 5px;">5</span>
            <span
                style="display: inline-block; border: 1px solid #fff; border-radius: 6px; color: #fff; font-size: 24px; padding: 10px 20px; margin: 5px;">9</span>
            <span
                style="display: inline-block; border: 1px solid #fff; border-radius: 6px; color: #fff; font-size: 24px; padding: 10px 20px; margin: 5px;">6</span>
        </div>
        <div style="padding: 20px;">
            <h3 style="font-size: 18px; margin: 0;">Best Wishes!</h3>
            <p style="font-size: 20px; margin: 0;">Meherun's Team</p>
        </div>
        <footer style="background-color: #ec4899; padding: 20px;">
            <div style="text-align: center;">
                <p style="font-size: 18px; color: #fff; margin: 0;">Get In Touch with us</p>
                <div style="margin-top: 16px;">
                    <a href="#" style="margin: 0 10px;text-decoration:none;">
                        <img src="https://res.cloudinary.com/dohwf5pyi/image/upload/v1724049517/samples/Meherun/fbicon_dinof3.png" alt="Facebook" style="width: 30px; height: 30px;">
                    </a>
                    <a href="#" style="margin: 0 10px;text-decoration:none;">
                        <img src="https://i.ibb.co/cJbSJ2K/twitter.png" alt="Twitter" style="width: 30px; height: 30px;">
                    </a>
                    <a href="#" style="margin: 0 10px;text-decoration:none;">
                        <img src="https://i.ibb.co/P60Jbqy/insta.png" alt="Instagram" style="width: 30px; height: 30px;">
                    </a>
                    <a href="#" style="margin: 0 10px;text-decoration:none;">
                        <img src="https://res.cloudinary.com/dohwf5pyi/image/upload/v1724049588/samples/Meherun/whatsappicon_ggbe0z.png" alt="WhatsApp" style="width: 30px; height: 30px;">
                    </a>
                </div>
                <div style="margin-top: 20px;">
                    <p style="color: #e5e7eb;">Do you want to Unsubscribe?</p>
                    <a href="#" style="text-decoration: none;">
                        <button
                            style="padding: 8px 16px; border-radius: 6px; background-color: #ef4444; color: #fff; border: none; cursor: pointer;">Unsubscribe</button>
                    </a>
                </div>
            </div>
            <hr style="margin: 40px 0; border-color: #e5e7eb;" />
            <div style="text-align: center;">
                <p style="font-size: 14px; color: #e5e7eb;">© Copyright 2024. All Rights Reserved by Meherun Western
                    Beauty Products.</p>
                <div style="margin-top: 10px;">
                    <a href="#" style="margin: 0 10px; font-size: 14px; color: #e5e7eb;">Teams</a>
                    <a href="#" style="margin: 0 10px; font-size: 14px; color: #e5e7eb;">Privacy</a>
                    <a href="#" style="margin: 0 10px; font-size: 14px; color: #e5e7eb;">Cookies</a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>